
@media (max-width: 720px) {


	.parking-spot-info {

		display:none;
	}

	.graph {

		display:none;
	}
	.col-1-2 {
		display: none;
	}



}

	.ui-slider-horizontal {
    	height: 1.6em;
	}

	.ui-slider .ui-slider-handle {
    	height: 2.0em;
	}